In [1]:
import face_rec

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

In [2]:
import pandas as pd
import numpy as np
import cv2
from cv2 import FONT_HERSHEY_DUPLEX

In [3]:
face_rec.r.ping()

True

In [4]:
#extract data from database
name = 'academy:register'
retrive_dict = face_rec.r.hgetall(name)
retrive_series = pd.Series(retrive_dict)
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))
retrive_series.index = index
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df[['Name','Role']] = retrive_df['name_role'].apply(lambda x: x.split('@')).apply(pd.Series)

retrive_df

,name_role,facial_features,Name,Role
0,CHRIS EVANS@STUDENT,"[0.7201715, -1.4684149, -0.7781253, -1.4601073...",CHRIS EVANS,STUDENT
1,Rabindra Adhikari@Student,"[-0.76971024, -0.6009586, 0.37804016, 0.709973...",Rabindra Adhikari,Student
2,Sambhavi@Student,"[-0.1276433, 0.39591247, 0.8043015, -0.3844852...",Sambhavi,Student
3,james@Teacher,"[0.17581145, -1.6664165, 0.38029522, -0.294974...",james,Teacher
4,BARACK OBAMA@TEACHER,"[0.94858104, -0.5584052, 0.094820715, -1.27965...",BARACK OBAMA,TEACHER
5,Bharat Vinaju@Teacher,"[0.07459921, -0.674672, -0.580926, -0.903835, ...",Bharat Vinaju,Teacher
6,ANGELINA JOLIE@STUDENT,"[0.43242034, 1.0748498, -0.12862365, -1.833291...",ANGELINA JOLIE,STUDENT
7,Rabindra@Student,"[-1.1002836, -0.4793578, 2.1473532, 1.2260097,...",Rabindra,Student
8,MORGAN FREEMAN@TEACHER,"[0.48535103, -0.6192555, -0.4069932, 1.0687788...",MORGAN FREEMAN,TEACHER
9,SCARLETT JOHANSSON@STUDENT,"[0.19131963, -0.48843804, -1.690233, 0.4423967...",SCARLETT JOHANSSON,STUDENT

In [ ]:
cap = cv2.VideoCapture(0) 
while True:
    ret, frame = cap.read()
    if ret == False:
        break

    pred_frame = face_rec.face_prediction(frame,retrive_df,'facial_features',
                                          ['Name','Role'],thresh=0.5)
    cv2.imshow('frame',frame)
    cv2.imshow('prediction',pred_frame)
    
    if cv2.waitKey(1) == 27:
        break

cv2.destroyALlWindows()
cap.release()